body {
  background-image: url("images/back.jfif");
}
.logo {
  display: flex;
  justify-content: center;
}
/*From here styling for Navigation Bar*/
nav {
  font-size: 1.5rem;
  background-color: #333;
  border-radius: 10px;
}
nav ul {
  list-style-type: None;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
nav ul li {
  color: rgb(49, 161, 196);
  cursor: pointer;
  padding: 0.5rem;
  flex: auto;
  text-align: center;
}
nav ul li a {
  color: rgb(49, 161, 196);
  text-decoration: none;
}
nav ul li:hover {
  background-color: green;
  color: white;
  transition: 1s;
  border-radius: 10px;
}

@media all and (max-width: 500px) {
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    text-align: center;
  }
}

/*From here the images view using flexbox*/
.middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.new img {
  width: 400px;
  height: 400px;
  opacity: 0.2;

  transition-property: width height;
  transition-duration: 1s;
  transition-delay: 0.4s;
}

.new img:hover {
  opacity: 1;
  width: 500px;
  height: 500px;
}

/*From here 5 boxes notes*/
.container {
  height: 544px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.items {
  width: 200px;
  height: 200px;
  border: 2px solid rgb(165, 16, 16);
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  border-radius: 10px;

  transition-property: width height;
  transition-duration: 2.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0.4s;
}
.items:hover {
  width: 400px;
  height: 500px;
}
#item-1 {
  background-color: lawngreen;
}
#item-2 {
  background-color: red;
  align-self: flex-end;
}
#item-3 {
  background-color: tomato;
}
#item-4 {
  background-color: rgb(46, 0, 252);
  align-self: flex-end;
}
#item-5 {
  background-color: rgb(223, 0, 252);
}
.container p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.container p:hover {
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
}
@media all and (max-width: 745px) {
  .container {
    height: 100%;
  }
  nav ul li {
    text-align: center;
  }
}

/*Footer*/
.footer {
  width: 100%;
  bottom: 0;
  height: auto;
  background-color: #333;
  overflow: hidden;
}
.footer .col {
  margin-left: 10%;
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10%;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}

.copy {
  color: white;
  bottom: 0;
  text-align: center;
  margin-right: 40%;
  margin-left: 35%;
}

.unique a {
  margin: 0;
  padding: 0;
  color: #999999;
}

.unique a:hover {
  background-color: #333;
  color: white;
}
.contain {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/*About us*/
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.team-section {
  overflow: hidden;
  text-align: center;
  background: #333;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.team-section h1 {
  text-transform: uppercase;
  margin-bottom: 60px;
  color: white;
  font-size: 40px;
}
.border {
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background: #c0c0c0;
  margin-bottom: 40px;
}
.ps {
  margin-bottom: 40px;
}
.ps a {
  display: inline-block;
  margin: 0 30px;
  width: 160px;
  overflow: hidden;
  border-radius: 50%;
}
.ps a img {
  width: 100%;
  filter: grayscale(100%);
  transition: 0.4s all;
}
.ps a:hover > img {
  filter: none;
}
.section {
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: white;
  text-align: justify;
  height: 0;
  overflow: hidden;
}
.section:target {
  height: auto;
}
.name {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}
/*Services*/
.services-section {
  background-color: #333;
  background-size: cover;
  padding: 60px 0;
}
.inner-width {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}
.section-title {
  text-align: center;
  color: #ddd;
  text-transform: uppercase;
  font-size: 30px;
}
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.service-box {
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
}
.service-icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: 3px solid #1d7388;
  background: rgb(160, 133, 45);
  color: #82ccdd;
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i {
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.service-box:hover .service-icon {
  background: #82dd9d;
  color: #ddd;
}
.service-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-desc {
  font-size: 14px;
}
@media screen and (max-width: 960px) {
  .service-box {
    max-width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .service-box {
    max-width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .service-box {
    max-width: 100%;
  }
}
